DATABASE_URI=
PAYLOAD_SECRET=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_CAL_LINK=
RESEND_API_KEY=
CONTACT_EMAIL=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_CLARITY_ID=
NEXT_PUBLIC_VERCEL_ANALYTICS=true
GOOGLE_SITE_VERIFICATION=
BING_SITE_VERIFICATION=
INDEXNOW_KEY=
